@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    --bs-dark: #E6BA95;
}

body {
    background: linear-gradient(45deg, rgb(223, 223, 224), rgb(252, 252, 252));
}

.justify-content-between {
    display: flex;
    flex-flow: row nowrap;
}

.justify-content-between a {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.justify-content-between span {
    display: flex;
    justify-content: center;
    padding: 0;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.featured {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #f00;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.pink-box {
    background-color: #F3C5C5;
}

.pink-box label {
    font-size: 0.83rem;
}

.offshore-label {
    font-size: 10px;
    background-color: black;
    color: azure;
    padding: 3px;

}

.offshore-description {
    font-size: 0.5rem;
}

.profile-picture {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-top: -3rem;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 20px 60px rgb(41, 40, 40);
}

.blue-gradient {
    background-image:
        linear-gradient(to bottom, rgba(7, 32, 173, 0.52), rgba(116, 129, 241, 0.73)),
        url('../img/CMA-tipos-de-cabides-02.jpg');
    width: 90%;
    height: 300px;
    background-size: cover;
    color: white;
    padding: 20px;
    margin-left: 5%;

}

.profile-infos {
    width: 100%;
    height: 80%;
    background-color: aliceblue;
    color: rgb(26, 24, 24);
    text-align: center;
    z-index: 99999;
    margin-top: 50%;
    border-radius: 10px;
}

.profile-infos-bottom {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    text-transform: uppercase;
}

.profile-infos-bottom .title {
    font-weight: 300;
}

.profile-infos-bottom .text {
    font-weight: 200;
}

.product-thumbnail{
    width: 4rem;
    height: 4rem;
}
.accordion-body {
    display: flex;
    flex-flow: row;
}

.category__items{
    display: flex;
    flex-flow: row wrap;
}
.category__item img{

}

.category__item span {
    
}